<header class="mt-4" role="banner">
    <hgroup class="container">
      <!--<img class="py-4 rounded-circle" src="http://fillmurray.com/80/80" alt="logo">-->
      <h1 class="display-4 text-lowercase site-title"><a href="{{ "/" | relative_url}}" title="joe whitsitt">{{ site.title | escape }}</span></a></h1>
    </hgroup>
  <nav class="container" role="navigation" aria-label="main navigation">
    <ul class="nav justify-content-start flex-column flex-md-row">
      {% assign pages_list = site.pages | sort:"weight"  %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          <li class="nav-item">
            <a class="nav-link text-uppercase{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}"> {{ node.title | escape }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
